body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dieFace{
    height: 200px;
    width: 200px;
    background-color: blueviolet;

}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}

#btn{
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
    width: 200px;
    background-color: blueviolet;
    border: 5px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(189, 124, 250);
    color: black;
    border: 5px solid black;
}